{% load base_taglib %}

<li>
    <a class="dropdown-item" href="{%url 'aero:home'%}">Home</a>
</li>
<li class="dropdown-divider"></li>
<li>
    <a class="dropdown-item" href="{%url 'hangar:home'%}">My Hangar</a>
    {%if "/hangar/" in request.path%}
        <ul class="navbar-content fa-ul">
            <li>
                <a class="dropdown-item" href="{%url 'hangar:add_aircraft'%}">
                    <span class="fa-li">{%fa fal fa-plane%}</span>
                    Add Aircraft
                </a>
            </li>
        </ul>
    {%endif%}
</li>